{% extends "base.html" %}
{% block content %}
<div class="max-w-5xl mx-auto">
    <!-- Header + primary actions -->
    <div class="w-full gap-3 sm:flex-row sm:items-center sm:justify-between mb-6">
        <h1 class="text-2xl font-semibold text-slate-900">Create a New Piece</h1>
        <p class="mt-2 text-sm text-slate-500">
            Add the basic details for this piece. You'll upload the parts on the next screen.
        </p>
    </div>
    <div class="bg-white border border-slate-200 shadow-sm rounded-xl p-6">
      <form method="post" 
        action="{% url 'create_piece' %}"
        class="space-y-6">
        {% csrf_token %}

        <!-- Basic Details -->
        <div class="grid grid-cols-2">
          <div>
            {{ form.title.required }}
            <label for="{{ form.title.id_for_label }}" class="mb-1 block text-sm font-medium">
              Title
            </label>
            {{ form.title }}
            {% if form.title.errors %}<p class="text-red-600 text-xs mt-1 font-bold">{{ form.title.errors|striptags }}</p>{% endif %}
          </div>
          <div class="ml-4">
            <label for="{{ form.composer.id_for_label }}" class="mb-1 block text-sm font-medium">
              Composer
            </label>
            {{ form.composer }}
            {% if form.composer.errors %}<p class="text-red-600 text-xs mt-1 font-bold">{{ form.composer.errors|striptags }}</p>{% endif %}
          </div>
        </div>

        <!-- Instrumentation -->
         <div>
            <label for="{{ form.instrumentation.id_for_label }}" class="mb-1 block text-sm font-medium">
              Instrumentation
            </label>
            {{ form.instrumentation }}
            {% if form.instrumentation.errors %}<p class="text-red-600 text-xs mt-1 font-bold">{{ form.instrumentation.errors|striptags }}</p>{% endif %}
        </div>

        <!-- Duration -->
         <div class="grid grid-cols-2">
          <div>
            <label for="{{ form.duration.id_for_label }}" class="mb-1 block text-sm font-medium">
              Duration
            </label>
            {{ form.duration }}
            {% if form.duration.errors %}<p class="text-red-600 text-xs mt-1 font-bold">{{ form.duration.errors|striptags }}</p>{% endif %}
          </div>
        </div>

        <!-- Hidden inputs -->
        {{ form.domo_id }}
        {{ form.composer_domo_id }}

        <div class="flex items-center justify-end gap-3">
          <a
            href="{% url 'pieces' %}"
            class="btn-secondary"
          >
            Cancel
          </a>
          <button
            type="submit"
            class="btn-primary"
          >
            Save &amp; Upload Parts
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}
