<div class="bg-white border border-slate-200 shadow-sm rounded-xl p-6 mb-4">
    <h1 class="text-lg font-bold">Parts ({{ part_assets|length }})</h1>
    <div class="py-2">
    {% if missing_parts %}
        <h1 class="text-md font-bold text-red-600">⚠️ {{ missing_parts|length }} Missing Parts</h1>
        {% for part in missing_parts %}
            <span class="inline-flex items-center rounded-full px-2.5 py-0.5 text-xs font-medium bg-red-500 text-white">
                {{ part.display_name }}
            </span>
        {% endfor %}
    {% else %}
        <div class="flex">
            <h1 class="text-md font-bold text-green-600">
                 <span class="items-center justify-beginning px-1">✅ All Parts Uploaded</span>
            </h1>
        </div>
    {% endif %}
    </div>
    {% if part_assets|length > 0 %}
        {% for part_asset in part_assets %}
            <div class="grid grid-cols-6 gap-1 mt-2">
                <span class="font-light col-span-3 text-sm">{{ part_asset.upload_filename }}</span>
                <input
                    name="sections"
                    type="text"
                    data-piece-id="{{ piece_id }}"
                    data-part-asset-id="{{ part_asset.id }}"
                    data-options='{{ part_options_json|safe }}'
                    data-initial='{{ part_asset.display_name_json|safe }}'
                    class="part-asset block w-full rounded-xl border border-slate-200 col-span-2 px-3 py-2 text-sm shadow-sm focus:border-blue-500 focus:outline-none focus:ring-2 focus:ring-blue-100"
                />
                <span class="text-xs font-bold text-red-600 hover:underline">
                    <a href="#"
                        hx-delete="/api/piece/{{ piece_id }}/asset/{{ part_asset.id }}"
                        hx-headers='{"X-CSRFToken":"{{ csrf_token }}"}'
                        hx-swap="outerHTML">
                        Delete
                    </a>
                </span>
            </div>
        {% endfor %}
    {% else %}
        <span class="font-light">No parts uploaded.</span>
    {% endif %}
    
</div>