/* Tailwind 
NOTE: Tailwind only generates based on the tailwind strings it identifies in your code
So we have to pass it both Django templates AND templatetags so that it can see what 
we're using and insert it into our final bundled .css
*/
@import "tailwindcss";
@source "../../templates/**/*.html";
@source "../../**/templates/**/*.html";
@source "../../**/templatetags/**/*.py";

/* Make the FilePond box bigger and fully clickable */
.filepond--root {
  width: 100%;
  min-height: 128px;
}

.filepond--panel-root {
  height: 100%;
}

.filepond--drop-label {
  height: 100%;
  padding: 1.0rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.toggle-input:checked + .track {
  background-color: #2563EB;
}

.toggle-input:checked + .track .thumb {
  transform: translateX(1.5rem);
}